.logo {
  display: inline-block;
}

body {
  height: 100%;
}

.logo img {
  width: 500px;
}

.header-menu {
  display: inline-block;
  font-size: 55px;
  margin-left: 40%;
}

header {
  background-color: rgb(225, 255, 239);
  border-bottom: 5px solid rgb(56, 126, 80);
}

main {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

footer {
  background-color: rgb(225, 255, 239);
  border-top: 5px solid rgb(56, 126, 80);
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
